<!DOCTYPE html>
<html lang="en">
      <head>
            <meta charset="utf-8">
            <title>Edit User</title>
            <link rel="stylesheet" type="text/css" href="styles.css">
      </head>
      <body>
            <div id="BodyDiv">
              <h1>New User</h1>
              <form action="/new" method="post">
                Title:<br><input type="text" name="title"><br><br>
                Author:<br><input type="text" name="poster"><br><br>
                Content:<br><textarea cols=100 rows=20 name="content"></textarea><br><br><br>
                <input type="Submit">
              </form>
            </div>
      </body>
</html>
